<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <wffm>
      <actions>
        <updateContactDetails type="Sitecore.WFFM.Actions.SaveActions.UpdateContactDetails, Sitecore.WFFM.Actions">
          <patch:attribute name="type">Sitecore.Foundation.Forms.SaveActions.UpdateContactDetailsEx, Sitecore.Foundation.Forms</patch:attribute>
        </updateContactDetails>

        <updateFormDetails type="Sitecore.Foundation.Forms.CheckActions.UpdateFormByContactDetails, Sitecore.Foundation.Forms">
          <param name="analyticsTracker" ref="/sitecore/wffm/analytics/analyticsTracker" />
          <!--<param name="authentificationManager" ref="/sitecore/wffm/authentificationManager" />-->
          <param name="logger" ref="/sitecore/wffm/logger" />
          <param name="facetFactory" ref="/sitecore/wffm/analytics/facetFactory" />
          <param name="contactManager" ref="/sitecore/wffm/analytics/contactManager" />
        </updateFormDetails>
        
      </actions>
  </wffm>
  </sitecore>
</configuration>
