<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Grandbasel.Website" description="Grandbasel content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Project.Common.Website,Project.Demo.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\grandbasel\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Grandbasel.Website.Templates" database="master" path="/sitecore/templates/Project/Grandbasel" />
            <!--<include name="Grandbasel.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/Grandbasel" />-->
            <include name="Grandbasel.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/Grandbasel" />
            <!--<include name="Grandbasel.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Grandbasel" />
                        <include name="Grandbasel.Website.Models" database="master" path="/sitecore/layout/models/Project/Grandbasel" />-->

            <include name="Grandbasel.Website.Content" database="master" path="/sitecore/content/Grandbasel" />
            <include name="Grandbasel.Website.Media" database="master" path="/sitecore/media library/Grandbasel" />
            <!--<include name="Grandbasel.Website.Metadata" database="master" path="/sitecore/system/settings/feature/metadata/Grandbasel" />-->

            <include name="Grandbasel.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Grandbasel" />
            <!--<include name="Grandbasel.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Grandbasel" />-->
            <include name="Grandbasel.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Grandbasel" />
            <include name="Grandbasel.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Grandbasel" />
            <include name="Grandbasel.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Grandbasel"/>
            <!--<include name="Grandbasel.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Grandbasel" />
                        <include name="Grandbasel.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Grandbasel" />
                        <include name="Grandbasel.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/Grandbasel" />
                        <include name="Grandbasel.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Grandbasel" />-->
            <include name="Grandbasel.Website.Wffm.FormsLocation" database="master" path="/sitecore/system/Modules/Web Forms for Marketers/Grandbasel" />
          </predicate>
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(sourceFolder)\project\Grandbasel\serialization\Project.Grandbasel.Roles" singleInstance="true" />
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="grandbasel" pattern="^Project Grandbasel .*$" />
          </rolePredicate>
          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(sourceFolder)\project\Grandbasel\serialization\Project.Grandbasel.Users" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="grandbasel" pattern="^((?!Anonymous).)*$" />
          </userPredicate>
          <userSyncConfiguration removeOrphans="true" defaultPassword="b" minPasswordLength="1" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="true" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>