<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <domainManager>
      <domains>
        <domain id="grandbasel" type="Sitecore.Security.Domains.Domain, Sitecore.Kernel">
          <param desc="name">$(id)</param>
          <ensureAnonymousUser>false</ensureAnonymousUser>
        </domain>
      </domains>
    </domainManager>
    <events>
      <event name="publish:end">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="grandbasel">Grandbasel</site>
          </sites>
        </handler>
      </event>
      <event name="publish:end:remote">
        <handler type="Sitecore.Publishing.HtmlCacheClearer, Sitecore.Kernel" method="ClearCache">
          <sites hint="list">
            <site hint="grandbasel">Grandbasel</site>
          </sites>
        </handler>
      </event>
    </events>
    <sites>
      <site name="grandbasel" patch:after="site[@name='modules_website']"
            hostName="mch.grandbasel.dev.local|uehabitat.entw.intra"
            targetHostName="uehabitat.entw.intra"
            database="web"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content/Grandbasel"
            startItem="/Home"
            dictionaryPath="/sitecore/content/Grandbasel/global/dictionary"
            dictionaryAutoCreate="false"
            placeholderSettingsRoot="/sitecore/layout/Placeholder Settings/Project/Grandbasel"
            domain="grandbasel"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="50MB"
            registryCacheSize="0"
            viewStateCacheSize="0"
            xslCacheSize="25MB"
            filteredItemsCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"
            cacheRenderingParameters="true"
            renderingParametersCacheSize="10MB"
            formsRoot="{BEABA23E-A4EE-4B72-9ABD-B18C411B6AC6}"
            loginPage="/login"
            enableItemLanguageFallback="true" />
    </sites>
    <cacheSizes>
      <sites>
        <habitat>
          <html>50MB</html>
          <registry>0</registry>
          <viewState>0</viewState>
          <xsl>25MB</xsl>
        </habitat>
      </sites>
    </cacheSizes>
    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value" value="Grandbasel" />
      </setting>
    </settings>
  </sitecore>
</configuration>