<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <mvc.getPageRendering>
        <processor type="Sitecore.Foundation.Assets.Pipelines.GetPageRendering.AddAssets, Sitecore.Foundation.Assets">
          <siteAssets hint="raw:AddAsset">
            <asset type="Css" file="/styles/toastr/toastr.css" />
            <asset type="JavaScript" file="/scripts/toastr/MCH.Foundation.Toastr.js" location="Head"/>
          </siteAssets>
        </processor>
      </mvc.getPageRendering>
    </pipelines>
  </sitecore>
</configuration>
