<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Foundation.Toastr" description="Foundation Toastr" dependencies="Foundation.Serialization,Foundation.SitecoreExtensions" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\foundation\toastr\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.Toastr.Templates" database="master" path="/sitecore/templates/Foundation/Toastr" />
            <include name="Foundation.Toastr.Renderings" database="master" path="/sitecore/layout/Renderings/Foundation/Toastr" />
            <include name="Foundation.Toastr.Settings" database="master" path="/sitecore/system/Settings/Foundation/Toastr" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
