<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <tracking>
      <sharedSessionState defaultProvider="InProc">
        <patch:attribute name="defaultProvider" value="mongo" />
        <providers>
          <clear/>
          <add name="InProc" type="System.Web.SessionState.InProcSessionStateStore">
            <patch:delete />
          </add>
          <add name="mongo" type="Sitecore.SessionProvider.MongoDB.MongoSessionStateProvider, Sitecore.SessionProvider.MongoDB" sessionType="shared" connectionStringName="sharedsession" pollingInterval="2" compression="true" />
        </providers>
      </sharedSessionState>
    </tracking>
  </sitecore>
</configuration>
